body {
    background: #2c3e50;
    color: white;
    overflow:hidden;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 120px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px, rgba(0, 0, 0, 0.0745098) 0px 0px 30px;
}

.correct {
    background: #2ecc71;
}

.incorrect {
    background: #e74c3c;
}

.gauge {
    height: 240px;
    width: 280px;
    position: relative;
    margin-top: -70px;
}

.result {
    margin-bottom: 2px;
}

.results {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60%;
}